<h3> Importing Dependencies </h3>

In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn import tree

<h3> Getting Dataset </h3>

In [2]:
dataset=pd.read_csv('Dataset/play_tennis.csv')
display(dataset)

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

<h3> Preprocessing Data </h3>

In [3]:
def lower_case(x):
    x=x.lower()
    return x

def lower_case_all(dataset):
    dataset['outlook']=dataset['outlook'].apply(lower_case)
    dataset['temp']=dataset['temp'].apply(lower_case)
    dataset['humidity']=dataset['humidity'].apply(lower_case)
    dataset['wind']=dataset['wind'].apply(lower_case)
    dataset['play']=dataset['play'].apply(lower_case)
    return dataset

def convert_to_text(y):
    if y[0]==0:
        y='No'
    else: 
        y='Yes'
    
    return y


def numerize(x):
    if x=='sunny' or x=='hot' or x=='high' or x=='weak' or x=='no':
        x=0
    elif x=='overcast' or x=='mild' or x=='normal' or x=='strong' or x=='yes':
        x=1
    elif x=='rain' or x=='cool':
        x=2
    return x
def numerize_all(dataset):
    dataset['outlook']=dataset['outlook'].apply(numerize)
    dataset['temp']=dataset['temp'].apply(numerize)
    dataset['humidity']=dataset['humidity'].apply(numerize)
    dataset['wind']=dataset['wind'].apply(numerize)
    dataset['play']=dataset['play'].apply(numerize)
    return dataset


dataset=lower_case_all(dataset)
print('Converting to lower case: ')
display(dataset)

print('Converting to numebrs only: ')
dataset=numerize_all(dataset)
display(dataset)

Converting to lower case:

    day   outlook  temp humidity    wind play
0    D1     sunny   hot     high    weak   no
1    D2     sunny   hot     high  strong   no
2    D3  overcast   hot     high    weak  yes
3    D4      rain  mild     high    weak  yes
4    D5      rain  cool   normal    weak  yes
5    D6      rain  cool   normal  strong   no
6    D7  overcast  cool   normal  strong  yes
7    D8     sunny  mild     high    weak   no
8    D9     sunny  cool   normal    weak  yes
9   D10      rain  mild   normal    weak  yes
10  D11     sunny  mild   normal  strong  yes
11  D12  overcast  mild     high  strong  yes
12  D13  overcast   hot   normal    weak  yes
13  D14      rain  mild     high  strong   no

Converting to numebrs only:

    day  outlook  temp  humidity  wind  play
0    D1        0     0         0     0     0
1    D2        0     0         0     1     0
2    D3        1     0         0     0     1
3    D4        2     1         0     0     1
4    D5        2     2         1     0     1
5    D6        2     2         1     1     0
6    D7        1     2         1     1     1
7    D8        0     1         0     0     0
8    D9        0     2         1     0     1
9   D10        2     1         1     0     1
10  D11        0     1         1     1     1
11  D12        1     1         0     1     1
12  D13        1     0         1     0     1
13  D14        2     1         0     1     0

In [4]:
#print(dataset)
X=np.array(dataset.drop(['play','day'],axis=1))
Y=np.array(dataset['play']).reshape(-1,1)

display(X)
display(Y)

array([[0, 0, 0, 0],
       [0, 0, 0, 1],
       [1, 0, 0, 0],
       [2, 1, 0, 0],
       [2, 2, 1, 0],
       [2, 2, 1, 1],
       [1, 2, 1, 1],
       [0, 1, 0, 0],
       [0, 2, 1, 0],
       [2, 1, 1, 0],
       [0, 1, 1, 1],
       [1, 1, 0, 1],
       [1, 0, 1, 0],
       [2, 1, 0, 1]])

array([[0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0]])

<h3> Training Model </h3>

In [5]:
model=tree.DecisionTreeClassifier()
model=model.fit(X,Y)

<h3> Saving Model </h3>

In [6]:
pickle.dump(model,open('decision_tree.model','wb'))

<h3> loading Model </h3
>

In [7]:
model=pickle.load(open('decision_tree.model','rb'))

<h3> Taking Inputs </h3>

In [10]:
parameters=['Outlook','Temperature','Humidity','Wind']
inputs=[]
for i in parameters: 
    inputs.append(input('Enter value for '+i+': '))

inputs=[[numerize(i.lower()) for i in inputs]]
y=convert_to_text(model.predict(inputs))
print(y)

Yes

<h3> Creating Dataset</h3>

In [15]:
import pandas as pd
import random

divided=[random.randint(1,100) for i in range(1,50000)]
divisor=[random.randint(1,100) for i in range(1,50000)]
op=[]
for div, divr in zip(divided,divisor):
    if div%divr==0:
        op.append(1)
    else: 
        op.append(0)

data_to_save=pd.DataFrame(columns=['Divided','Divisor','op'])
data_to_save['Divided']=divided
data_to_save['Divisor']=divisor
data_to_save['op']=op
display(data_to_save.loc[data_to_save['op']==1])
data_to_save.to_csv('dataset_new.csv',index=False)

     Divided  Divisor  op
24        10        1   1
36        42        6   1
72        40        1   1
88        92       46   1
110        2        1   1
147       76        4   1
152       56       56   1
226       93        1   1
269      100       20   1
279       70        2   1
293       78       39   1
343       80        8   1
344       23        1   1
407       70       10   1
419       36        9   1
421       89        1   1
423       81       81   1
427       65       13   1
495       57       19   1

<h3>Reading Dataset </h3>

In [6]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import tree


data_frame=pd.read_csv('dataset_new.csv')
X=data_frame.drop(columns=['op'],axis=1)
Y=data_frame['op']
X_train,X_test,Y_train,Y_test=train_test_split(X,Y)

In [7]:
model=tree.DecisionTreeClassifier()
model.fit(X_train,Y_train)

Y_preds=model.predict(X_test)
print(accuracy_score(Y_test,Y_preds))

0.99784

In [13]:
x1=input('Enter dividend: ')
x2=input('Enter divisor: ')

op=model.predict([[x1,x2]])[0]
print(op)
if op==1: 
    print('Perfectly Divisible !!')
else: 
    print('Not Divisible !!')

1
Perfectly Divisible !!

/home/fm-pc-lt-233/Personal_Projects/Tensorflow-Learning/tf_env/lib/python3.10/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(